@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom::after {
  content: "";
  background: url("assets/bg.jpg");
  background-size: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

table th:first-child {
  border-radius: 5px 0 0 0;
}

table th:last-child {
  border-radius: 0 5px 0 0;
}
